/DefaultRoutine/Silverfish/UltimateLogs/*
对局记录
/DefaultRoutine/Silverfish/Test/Data/Logg.txt
*.result
*.detail
专注打脸
无限期停止维护
/packages
/LiWenhaoRoutine.sln
/.vs/LiWenhaoRoutine/v16
/DefaultRoutine/Properties
/DefaultRoutine/obj/Debug
/DefaultRoutine/bin/Debug
/DefaultRoutine/packages.config
/DefaultRoutine/DefaultRoutine.csproj.user
/DefaultRoutine/DefaultRoutine.csproj
Data
BattleRoutine